<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About website</title>
</head>
<body>  
     {%block content%}
    
    <h1>About website </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero porro qui, quod consectetur inventore unde? Eaque ipsam excepturi porro natus nihil aliquam, iure id deleniti, architecto eum delectus quis expedita.</p>

    {%endblock content%}
</body>
</html>